# Database
DB_PASSWORD=
DB_ROOT_PASSWORD=

# SMTP (production only)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Ghost Content API Key (created in Ghost Admin > Integrations)
GHOST_CONTENT_API_KEY=
